# Environment variables
.env

# Chroma database
chroma/
chroma_1/
chroma_2/

# Data files
data/
*.pdf
*.docx

# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Model cache
models/

# Pickle cache files
*.pkl
response_cache.pkl

# Logs and temporary files
*.log
*.tmp

# OS-specific files
.DS_Store
Thumbs.db

# Virtual environment
.venv/

#token
token.txt

compare_embeddings.py